/* Загальні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Контейнер для квізу */
#quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px; /* Обмеження по ширині */
    text-align: left;
}

/* Стиль для кожного питання */
.question {
    margin-bottom: 20px;
}

/* Стиль для заголовка питання */
.question h3 {
    font-size: 1.2em;
    color: #333;
}

/* Стиль для інпутів */
input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

/* Оформлення інпутів (radio/checkbox) */
input[type="radio"], input[type="checkbox"] {
    margin: 8px 10px;
    transform: scale(1.2);
    cursor: pointer;
}

/* Оформлення для кнопок (якщо вони є) */
button {
    padding: 10px 15px;
    background-color:  #7fb0d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
#result-container {
    background-color: #fff;
    margin-left: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px; /* Обмеження по ширині */
    text-align: left;
    margin-top: 20px; /* Відстань між квізом і результатами */
}